{{!-- Card for each dog --}}

{{!-- TODO: Fill in missing handlebars  --}}
<li>
    <div class="card dogs" style="width: 18rem;">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ name }}</h5>
            <p class="card-text">...</p>
            <a href="#" class="btn btn-primary" title="Click to favorite"><i class="far fa-heart"></i></a>
        </div>
    </div>
</li>