<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Mongrel Scraper</h1>
  <p class="lead">...</p>
  <hr class="my-4">
  <nav class="nav justify-content-center">
    <a class="nav-link active" href="#">Home</a>
    <a class="nav-link" href="#">Favorites</a>
  </nav>
  <a class="btn btn-primary btn-lg" href="#" role="button">Check for New</a>
</div>