{{> nav-block }}

<h1>{{ Mongrel Scraper }}</h1>
<button type="button" class="btn btn-secondary btn-lg">Check New Mongrels</button>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Add to Favorites</a>
  </div>
</div>

{{> footer-block }}