{{> nav-block }}

<div class="container-fluid justify-content-center">
    <h3>Favorites</h3>
    <h5>Time to meet them!</h5>

    {{!-- TODO: Make sure data render correctly --}}
    <ul>
        {{#each dogs}}
            {{#if favorite}}
                {{> dog-block }}
            {{/if}}
        {{/each}}
    </ul>

</div>

{{> footer-block }}